<div id="toggle">
    <button id="totop-toggle" class="toggle" title="返回顶部"><i class="fa fa-angle-double-up"
            aria-hidden="true"></i></button>
    <button id="footer-toggle" class="toggle" title="前往评论区"><i class="fa fa-commenting-o"
            aria-hidden="true"></i></button>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p>未找到评论区！,我们会在3秒后为你跳转到留言板</p>
    </div>
</div>