<div id="toggle">
    <div id="toggle-bord">
        <button id="totop-toggle-totop" class="toggle" title="返回顶部"><i class="fa fa-angle-double-up"
                aria-hidden="true"></i></button>
        <button id="footer-toggle-tocommet" class="toggle-tocommet" title="前往评论区">
            前往评论区
            <i class="fa fa-commenting-o"aria-hidden="true"></i></button>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p>未找到评论区！,我们会在3秒后为你跳转到留言板</p>
    </div>
</div>