:root {
    --hl-color: #eff;
    --hl-bg: #212121;
    --hltools-bg: #1c1c1c;
    --hltools-color: rgba(238, 255, 255, 0.8);
    --hlnumber-bg: #212121;
    --hlnumber-color: rgba(238, 255, 255, 0.5);
    --hlscrollbar-bg: #353535;
    --hlexpand-bg: linear-gradient(180deg, rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.9))
}

[data-theme=dark] {
    --hl-color: rgba(255, 255, 255, 0.7);
    --hl-bg: #171717;
    --hltools-bg: #1a1a1a;
    --hltools-color: #90a4ae;
    --hlnumber-bg: #171717;
    --hlnumber-color: rgba(255, 255, 255, 0.4);
    --hlscrollbar-bg: #1f1f1f;
    --hlexpand-bg: linear-gradient(180deg, rgba(23, 23, 23, 0.6), rgba(23, 23, 23, 0.9))
}

figure.highlight table {
    scrollbar-color: var(--hlscrollbar-bg) transparent
}

figure.highlight table::-webkit-scrollbar-thumb {
    background: var(--hlscrollbar-bg)
}

figure.highlight pre .deletion {
    color: #bf42bf
}

figure.highlight pre .addition {
    color: #105ede
}

figure.highlight pre .meta {
    color: #c792ea
}

figure.highlight pre .comment {
    color: #969896
}

figure.highlight pre .attribute,
figure.highlight pre .css .class,
figure.highlight pre .css .id,
figure.highlight pre .css .pseudo,
figure.highlight pre .html .doctype,
figure.highlight pre .regexp,
figure.highlight pre .ruby .constant,
figure.highlight pre .tag .name,
figure.highlight pre .variable,
figure.highlight pre .xml .doctype,
figure.highlight pre .xml .pi,
figure.highlight pre .xml .tag .title {
    color: #ff5370
}

figure.highlight pre .tag {
    color: #89ddff
}

figure.highlight pre .command,
figure.highlight pre .constant,
figure.highlight pre .literal,
figure.highlight pre .number,
figure.highlight pre .params,
figure.highlight pre .preprocessor {
    color: #f78c6c
}

figure.highlight pre .built_in {
    color: #ffcb6b
}

figure.highlight pre .css .rules .attribute,
figure.highlight pre .formula,
figure.highlight pre .header,
figure.highlight pre .inheritance,
figure.highlight pre .number,
figure.highlight pre .ruby .class .title,
figure.highlight pre .ruby .symbol,
figure.highlight pre .special,
figure.highlight pre .string,
figure.highlight pre .value,
figure.highlight pre .xml .cdata {
    color: #c3e88d
}

figure.highlight pre .css .hexcolor,
figure.highlight pre .keyword,
figure.highlight pre .title {
    color: #89ddff
}

figure.highlight pre .coffeescript .title,
figure.highlight pre .function,
figure.highlight pre .javascript .title,
figure.highlight pre .perl .sub,
figure.highlight pre .python .decorator,
figure.highlight pre .python .title,
figure.highlight pre .ruby .function .title,
figure.highlight pre .ruby .title .keyword {
    color: #82aaff
}

figure.highlight pre .javascript .function,
figure.highlight pre .tag .attr {
    color: #c792ea
}

#article-content figure.highlight .line.marked {
    background-color: rgba(97, 97, 97, .314)
}

#article-content figure.highlight table {
    display: block;
    overflow: auto;
    border: none
}

#article-content figure.highlight table td {
    padding: 0;
    border: none
}

#article-content figure.highlight .gutter pre {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--hlnumber-bg);
    color: var(--hlnumber-color);
    text-align: right
}

#article-content figure.highlight .code pre {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%
}

#article-content figure.highlight,
#article-content pre {
    overflow: auto;
    margin: 0 0 20px;
    padding: 0;
    background: var(--hl-bg);
    color: var(--hl-color);
    line-height: 1.6
}

#article-content code,
#article-content pre {
    font-size: var(--global-font-size);
    font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', sans-serif !important
}

#article-content code {
    padding: 2px 4px;
    background: rgba(27, 31, 35, .05);
    color: var(--theme-color)
}

#article-content pre {
    padding: 10px 20px
}

#article-content pre code {
    padding: 0;
    background: 0 0;
    color: var(--hl-color);
    text-shadow: none
}

#article-content figure.highlight {
    position: relative
}

#article-content figure.highlight pre {
    margin: 0;
    padding: 8px 0;
    border: none
}

#article-content figure.highlight .caption,
#article-content figure.highlight figcaption {
    padding: 6px 0 2px 14px;
    font-size: var(--global-font-size);
    line-height: 1em
}

#article-content figure.highlight .caption a,
#article-content figure.highlight figcaption a {
    float: right;
    padding-right: 10px;
    color: var(--hl-color)
}

#article-content figure.highlight .caption a:hover,
#article-content figure.highlight figcaption a:hover {
    border-bottom-color: var(--hl-color)
}

#article-content figure.highlight.copy-true {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-user-select: all
}

#article-content figure.highlight.copy-true>pre,
#article-content figure.highlight.copy-true>table {
    display: block !important;
    opacity: 0
}

#article-content .highlight-tools {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    min-height: 24px;
    height: 2.15em;
    background: var(--hltools-bg);
    color: var(--hltools-color);
    font-size: var(--global-font-size)
}

#article-content .highlight-tools.closed~* {
    display: none
}

#article-content .highlight-tools.closed .expand {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(-90deg) !important;
    -moz-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important
}

#article-content .highlight-tools .expand {
    position: absolute;
    padding: .57em .7em;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s
}

#article-content .highlight-tools .expand+.code-lang {
    left: 1.7em
}

#article-content .highlight-tools .code-lang {
    position: absolute;
    left: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

#article-content .highlight-tools .copy-notice {
    position: absolute;
    right: 2.4em;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s
}

#article-content .highlight-tools .copy-button {
    position: absolute;
    right: 14px;
    cursor: pointer;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s
}

#article-content .highlight-tools .copy-button:hover {
    color: #49b1f5
}

#article-content .gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

#article-content .gist table {
    width: auto
}

#article-content .gist table td {
    border: none
}

#article-content figure.highlight {
    margin: 0 0 24px;
    border-radius: 7px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
    -webkit-transform: translateZ(0)
}

#article-content figure.highlight .highlight-tools:after {
    position: absolute;
    left: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' '
}

#article-content figure.highlight .highlight-tools .expand {
    right: 0
}

#article-content figure.highlight .highlight-tools .expand.closed {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important
}

#article-content figure.highlight .highlight-tools .expand~.copy-notice {
    right: 3.45em
}

#article-content figure.highlight .highlight-tools .expand~.copy-button {
    right: 2.1em
}

#article-content figure.highlight .highlight-tools .code-lang {
    left: 75px
}

#article-content .code-expand-btn {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background: var(--hlexpand-bg);
    text-align: center;
    font-size: var(--global-font-size);
    cursor: pointer
}

#article-content .code-expand-btn i {
    padding: 6px 0;
    color: var(--hlnumber-color);
    -webkit-animation: code-expand-key 1.2s infinite;
    -moz-animation: code-expand-key 1.2s infinite;
    -o-animation: code-expand-key 1.2s infinite;
    -ms-animation: code-expand-key 1.2s infinite;
    animation: code-expand-key 1.2s infinite
}

#article-content .code-expand-btn.expand-done>i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

#article-content .code-expand-btn.expand-done+pre,
#article-content .code-expand-btn.expand-done+table {
    margin-bottom: 1.8em
}

#article-content .code-expand-btn:not(.expand-done)~pre,
#article-content .code-expand-btn:not(.expand-done)~table {
    overflow: hidden;
    height: 300px
}