#goto-post {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border: 6px solid rgb(51, 124, 118);
    /* 弹窗边框 */
    border-radius: 4px;
}


div.post-info {
    margin-top: 34px;
}

p#text-info {
    font-size: 24px;
}

div.entry {
    border: 3px solid rgb(51, 124, 118);
    border-radius: 4px;
    background-color: #f1f3f8;
    padding: 16px;
}

#btn-space-postinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.refresh-btn {
    background-color: rgb(204, 204, 0);
    color: rgb(0, 0, 0);
}

button.gopost-btn {
    font-size: 16px;
    padding: 6px 20px;
    margin-top: 8px;
    border-radius: 8px;
    margin-right: 10px;
}

button.gopost-btn:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

button.cancel-btn {
    background-color: #efefef;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

button.onfirm-btn {
    background-color: rgb(51, 124, 118);
    color: white;
}

.fade-in {
    opacity: 1;
}

/* 添加淡出动画 */
.fade-out {
    opacity: 0;
}